@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  min-height: 300px;
  padding: 1rem;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
} 